@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Padrão de fundo sutil */
.bg-grid-pattern {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* --- CORREÇÃO DE FONTE --- */
/* Suaviza as bordas da fonte para evitar o aspecto pixelado */
.soft-text {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.05); /* Sombra ultra leve */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}